@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
}

.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: rgba(255,255,255,0.5);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.promotion-swiper .swiper-pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  padding-left: 1rem;
}

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ::-webkit-scrollbar{
    height: 0px;
  }

  @layer base {
  * {
    @apply m-0 p-0 box-border;

    ::-webkit-scrollbar {
      @apply w-1.5 h-1.5 rounded-xl bg-gray-50;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-300;
    }
  }

  body {
    @apply w-screen min-h-screen overflow-y-auto overflow-x-hidden;

    #root {
      @apply flex flex-col flex-none w-full overflow-x-hidden;
    }
  }
}
